@use '../global/variables' as *;

body {
    width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, rgb(93, 68, 0) 0%, rgb(93, 45, 0) 25%, rgb(93, 45, 0) 51%, #000000 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
    color: white;
    font-family: $font-title;
}

.label{
    font-family: $font-text;
    color: white;
}

.input{
    background: transparent;
    width: 300px;
    border: none;
}

.white-background-quill {
    background-color: white !important;
  }