@use '../global/variables' as *;

body {
    background: $background;
}

.title {
    color: white;
    font-family: $font-title;
}

.label{
    font-family: $font-text;
    color: white;
}

.input{
    background: transparent;
    width: 300px;
    border: none;
}