@use '../global/variables' as *;

.form {
    padding-right: 5%;
    color: white;
    width: 80%;
    max-width: 800px;

    @media(max-width: 800px){
        padding-right: 0%;
    }


    .label {
        font-family: 'Exo', sans-serif;
        margin-top: 30px;
    }

    .label__error {
        font-family: 'Exo', sans-serif;
        margin-top: 30px;
        color: red;
    }

    .input {
        background: transparent;
        width: 100%;
        margin-bottom: 20px;
        color: white;
    }

    .white-background-quill {
        background: transparent;
        margin-bottom: 20px;
    }

    .bars{
        margin-right: 10px;
        height: 30px;
        margin-top: 4px;
        color: $white-light;
    }

    .add{
        background: $black-light;
        box-shadow: 0 4px 30px $shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid $white-light;
        color: white;
        margin-right: 10px;
        height: 100%;

        &:hover{
            background: $white-active;
            color: black;
        }
    }


    .remove{
        background: $red-light;
        box-shadow: 0 4px 30px $shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid $white-light;
        color: white;
        margin-left: 10px;
        height: 100%;

        &:hover{
            background: $red-active;
            color: black;
        }
    }

    .send {
        background: $white-light;
        border-radius: 16px;
        box-shadow: 0 4px 30px $shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid $white-light;
        color: white;

        &:hover{
            background: $white-active;
            color: black;
        }

        &__icon{
            margin-right: 5px;
        }
    }

    .send__success {
        background: $green-light;
        border-radius: 16px;
        box-shadow: 0 4px 30px $shadow;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid $white-light;
        color: white;

        &__icon{
            margin-right: 5px;
        }
    }
}