@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ONRAMP';
    src: url('../fonts/ONRAMP.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}